.DS_Store
/.idea
/composer.lock
/.vscode
/.ddev
/logs
/var

/public
/vendor
/*.cache
/.build
/build/.phpunit.result.cache
/build/node_modules
/Build/.cache/

*.css.map
**/*temp_*
**/node_modules
/Documentation-GENERATED-temp
