@import "Base";

.widget {
	.widget-content-title-badge {
		display: flex;
	}

	.widget-content-badge-number {
		padding: 5px 7px;
		margin-left: 6px;
	}

	.widget-table-usertype {
		width: 45px;
	}
}
