@import 'Base';

.widget {
    .widget-content-title--badge {
        display: flex;
    }

    .widget-content-badge-number {
        line-height: 1.1;
        margin-left: 6px;
    }

    .widget-table-usertype {
        width: 45px;
    }
}
