<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Widget/Widget" />

<f:section name="main">
    <div class="row">
        <div class="col-sm-8">
            <p>
                {f:translate(key: options.introText, default: options.introText) -> f:format.raw()}
            </p>
            <p>
                {config.company}
                {config.address}
                {config.postalCode}
                {config.place}
                {config.tel}
                {config.mail}
                {config.website}
            </p>
        </div>
        <div class="col-sm-4">
            afb
        </div>
    </div>
</f:section>

</html>
