<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Widget/Widget" />
<f:section name="main">
    <div class="widget-table-wrapper status-report">
        <table class="widget-table">
            <f:for each="{reports}" as="categoryReports" key="category">
                <f:if condition="{categoryReports -> f:count()} > 0">
                    <f:for each="{categoryReports}" as="report">
                        <tr class="status-report-item status-report-severity-{report.severity}">
                            <td>
                                <h3><span>{category}:</span> {report.title}</h3>
                                <p><f:format.html>{report.message}</f:format.html></p>
                            </td>
                        </tr>
                    </f:for>
                </f:if>
            </f:for>
        </table>
    </div>

</f:section>
<f:section name="footer">
    <f:if condition="{button}">
        <a href="{button.link}" target="{button.target}" class="widget-cta">{f:translate(id: button.text, default: button.text)}</a>
    </f:if>
</f:section>
</html>
